.container{
    max-width: 120rem;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: 500;
    padding: 1rem 3rem;
    border-radius: 100px;
    color: $text-primary;
    &-primary{
        border: 2px solid $primary-color;
        margin-top: 7vh;
        transition: all .3s;

        &:hover{
            background-color: $text-primary;
            border: 2px solid transparent;
            color: $text-tertiary;
        }
    }

    &-secondary{
        border: none;
        background-color: $primary-color;
        margin-top: 3vh;
        box-shadow: .5rem 1rem 2rem rgba($secondary-color,.3);
        transition: all .3s;

        &:hover{
            transform: translateY(-3px);
            box-shadow: 0.5rem 1rem 2rem rgba($secondary-color,.5);
        }
        &:active{
            transform: translateY(-1px);
            box-shadow: .5rem .8rem 1.7rem rgba($secondary-color,.4);
        }
        &:focus{
            outline: none;
        }
    }
}

.info-heading{
    font-size: 6vh;
    font-weight: 300;
    color: $primary-color;
    margin-bottom: 10vh;

}
.heading-normal{
    font-size: 3vh;
    font-weight: 300;
    color: $primary-color;
    margin-bottom: 3vh;
}

.lead,
.lead-2{
    font-size: 2.5vh;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 2vh;
}
.lead{  color: $text-tertiary; }
.lead-2{  color: $text-primary; }
